* {
  box-sizing: border-box;
}

html {
  background-color: #e5ccff;
}

label {
  display: block;
}

.header,.footer {
  background: #ffcccc;
  text-align: center;
  margin-top: 5px solid #ffcccc;
  font-family: 'Lobster', cursive;
  margin-bottom: 0px;
}

.footer{
  position: absolute;

  width:100%;

  bottom:0px;
}

.header h1 {
  margin-bottom: 0px;
}

.topic {
  font-size: 35px;
  padding: 0px;
  margin-right: 5px;
}

#add-favourite-topic {
  margin: 2%;
  font-size: 15px;
}

#topic-input {
  width: 90%;
}

.btn-default {
  color: #ffffff;
  background-color: #4aaaa5;
  margin: 2% auto;
}

.col-md-2 {
  background-color: #cc99ff;
}

.col-md-10 {
  background-color: #e5ccff;
}

.gif {
  max-width: 100%;
}

.navbar-btn {
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-default {
  border: none;

  margin: 0px;

  border: 0px;

  padding-right: 0px;

  padding-top: 0px;

  padding-bottom: 0px;

  background: #33ccff;
}

.pull-left {
  float: left;
  max-width: 300px;
  overflow: auto;
  padding: 1%;
}

.pull-right {
  float: right;
  width: 100%;
  overflow: auto;
  padding: 1%;
}

.rating {
  padding: 2%;
}

.row {
  background-color: #e5ccff;
}

.buttons-container {
  margin-top: 0px;
}


/*

  These rules take effect when the browser's width

  is 641px or more.

*/

@media screen and (max-width: 768px) {
  #add-favourite-topic {
    margin-top: 10%;
  }
  #selected-giphy-topic {
    position: absolute;
    top: 35px;
    /*

	     Not ideal, but it lets all the important stuff be shown

	     without making things unusable.

	  	*/
    /* z-index: -1; */
  }
  #display-giphs {
    position: absolute;
    top: 190px;
  }
}

/*

  These rules take effect when the browser's width

  is 640px or less.

*/

@media screen and (max-width: 640px) {
  #add-favourite-topic {
    margin-top: 5%;
  }
  #selected-giphy-topic {
    position: absolute;
    top: 35px;
    /*

    Not ideal, but it lets all the important stuff be shown

    without making things unusable.

  */
    z-index: -1;
  }
  #display-giphs {

    position: absolute;

    top: 190px;
  }
